.App {
  text-align: center;
}


nav {
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white!important;
  color:black;
}


@media (min-width: 901px){
  .nav-links{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: monospace;
    font-stretch: extra-expanded;
  }
}

@media (max-width: 900px){
  .nav-links{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    font-family: monospace;
    font-stretch: extra-expanded;
  }
}


.carousel-control-next, .carousel-control-prev{
  /* -webkit-animation: bgcolorchange 10s infinite; /* Chrome, Safari, Opera */ 
  /* animation: 10s infinite bgcolorchange; */ 
  color: transparent;
}

@keyframes bgcolorchange {
  0% {
    background-color: white;
  }
  /*25% {
    background-color: white;
  }
  50% {
    background-color: white;
  }*/
  80% {
    background-color: white;
  }
  100% {
    /* background-color: lightgray; */
    background-color: white;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: white;}
      80%  {background: white;}
      /* 100% {background: lightgray;} */
      100% {background: white;}
 }
/*Pinturas/*/
@media (max-width: 600px){
  .pinturas{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
 }
}
@media (min-width: 601px){
 .pinturas{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
 }
}
 /* .image-card{

 } */

 .image{
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 2px;
    cursor: pointer;
 }

/*Carrusel*/

@media (max-width: 900px){
  .image-carousel{
    max-width: 100%;
    height: auto;
  }
} 

@media (min-width: 901px){
  .image-carousel {
      max-width: 100%;
      max-height: 80vh;
      margin: auto;
  }
} 


.hover-gray:hover{
   border-bottom: 3px gray solid;
}



/*End Carrusel*/

/*Nav*/


/*Bio*/

@media (max-width: 900px){
  .bio{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
 }

}

@media (min-width: 901px){
 .bio{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
 }
}

.descripcion{
  width: 100%;
  padding: 5px;
  /* border: 1px solid lightgray; */
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

/*END Bio*/

/*Noticias*/
.noticias-container{
  margin: 40px;
}

.card{
  margin-top: 40px;
}

.card-header{
  text-align: left;
}
/*End Noticias*/

/*Contacto*/
.contacto{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.contacto-box-form{
  width: 100%;
  margin: auto;
  display: grid;
  gap: 10px;
}

.contact-card{
  margin: 10px;
  /* border: 1px solid gainsboro;  */
  padding: 10px;
}

.contact-card-title{
  text-align: start;
  font-size: 14px;
  color: gray;
  font-weight: bold;
  font-family: monospace;
}

.contact-card-email{
  margin-left: 10px;
  color: orange;
  font-weight: bold;
  font-size: 12px;
  text-align: start;

}

/* .contact-card-media-images{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 23px;
} */

.contact-card-media {
  margin-top: 5px;
  font-size: 20px;
  text-align: start;
  
}

.contact-card-media > a:link{
  text-decoration: none!important;
} 

.contact-card-media > a:visited {
  text-decoration: none!important;
} 

.contacto-form{
  margin:10px;

}

.contacto-submit{
  align-self: start;
  display: flex;
}

.btn-dark{
  border-radius: 7%;
}


@media (min-width: 721px){
  .image-contacto{
    width: 100%;
    height: auto;
  
  }
  .contacto-box-form{
    grid-template-columns:  7fr 20fr;
  }
}


@media (max-width: 720px){
  .image-contacto{
    display : none;
  }

  .contacto-box-form{
    grid-template-columns: repeat(1, 1fr);
  }
  
}
/*End contacto*/

/*Legales*/
.legales-container{
   font-size: 12px;
   color: gray;
   /* justify-content: space-around;
   align-items: center;
   list-style: none;
   font-stretch: extra-expanded; */
}

.logales-header{
  font-size: 12px;
  color: gray;
  /* justify-content: space-around;
  align-items: center;
  list-style: none;
  font-stretch: extra-expanded;
  margin-top: 10px; */

}

.legales-texto{
  margin:25px;
  font-size: 12px;
  color: gray;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
/*End Legales*/