.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:white;
  color:black;
}

.nav-links{
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: monospace;
  font-stretch: extra-expanded;

}


.carousel-control-next, .carousel-control-prev{
  -webkit-animation: bgcolorchange 10s infinite; /* Chrome, Safari, Opera */ 
  animation: 10s infinite bgcolorchange;
}

@keyframes bgcolorchange {
  0% {
    background-color: white;
  }
  /*25% {
    background-color: white;
  }
  50% {
    background-color: white;
  }*/
  80% {
    background-color: white;
  }
  100% {
    background-color: lightgray;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      0%   {background: white;}
      80%  {background: white;}
      100% {background: lightgray;}
 }

